<%= form_for(@vault) do |f| %>
  <% if @vault.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vault.errors.count, "error") %> prohibited this vault from being saved:</h2>

      <ul>
      <% @vault.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
