<div class="user-show">
  <div class="user">
    <div class="profile-photo">
      <%= image_tag "avatar.png" %>
    </div>
    <div class="user-info">
      <h6 class="light-header ui-inline-text">Onyemaechi Okafor</h6>
      <p><i class="icon-phone"></i> 080994459595</p>
    </div>
  </div>
  <div class="top-up">
    <div class="message-box control-group">
      <label class="control-label" for="inputPassword"><i class="icon-envelope-alt"></i> Message</label>
      <span class="counter-box">160</span>
      <div class="input-wrap message-box">
        <div class="controls input_padding_extra ">
          <textarea class="input"></textarea>
        </div>
      </div>
    </div>
    <div class="selections">
      <div class="control-group span6">
        <label class="control-label" for="inputPassword"><i class="icon-mobile"></i> Top Up</label>
        <div class="controls input_padding_extra ">
          <select  class="amountSelect span12">
            <option>100</option>
            <option>200</option>
            <option>300</option>
            <option>400</option>
            <option>500</option>
          </select>
        </div>
        </div>
      <div class="control-group span6">
        <label class="control-label" for="inputPassword"><i class="icon-money"></i> Payment method</label>
        <div class="controls input_padding_extra ">
          <select id="payment" class="payment span12" data-class="payment span12">
            <option>Verve</option>
            <option>QwiQar</option>
            <option>Visa</option>
          </select>
        </div>
      </div>

  </div>
    <div class="form-action">
      <div class="control-group span6">
        <div class="controls">
          <button class="btn btn-success btn-block btn-large" type="button" ><i class="icon-credit-card"></i> Pay Total : ₦60,000</button>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>