<div class="user-info">
  <div class="avatar">
    <%= image_tag "avatar.png" %>
  </div>
  <div class="info indent">
    <span class="receiver">Top Up </span>
    <h3><%= top_up.phone_number.number %></h3>
  </div>
</div>