<div class="modal-header">
  <div class="inner">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <div class="contactHeader">
      <%= top_up_header top_up %>
    </div>
  </div>

</div>
<div class="content modal-body override">
  <div class="modal-content-body">
      <% if top_up.message.present? %>
        <div class="letterPressed row-fluid   message-content">
          <div class="top-message">
            <i class="fa fa-envelope"></i> <%= top_up.message %>
          </div>
        </div>
      <% end %>
    <%= render :partial => "orders/order_info",locals: {order:order} %>
    </div>
</div>
<div class="modal-footer">
  <%= render :partial => "application/order_buttons",locals: {order:order} %>
</div>