<h1>Listing top_ups</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @top_ups.each do |top_up| %>
  <tr>
    <td><%= link_to 'Show', top_up %></td>
    <td><%= link_to 'Edit', edit_top_up_path(top_up) %></td>
    <td><%= link_to 'Destroy', top_up, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Top up', new_top_up_path %>
