<div class="alert alert-info">
  <i class="fa fa-info-circle"></i> All  transactions are <i class="fa fa-lock"></i> secured and processed by Interswitch WebPay which supports Naira Mastercard, and Verve debit cards
</div>