<%= link_to cancel_order_url(order), method: 'delete',class:"btn cancel btb-danger",
              data: {confirm: "Are you sure","loading-text"=>"cancelling..."} do %>
      <i class="fa fa-times"></i> Cancel
  <% end %>
  <% content_for :submit do %>
      <button class="btn btn-primary confirm" data-confirm-url="<%= confirm_order_url(order) %>" type="button" data-loading-text="please wait..."><i class="fa fa-check"></i> Pay Now &raquo;</button>
  <% end %>
  <%= render partial: 'web_pay_form',locals: {interswitch:map_order_to_interswitch_params(order,show_interswitch_order_status_url)} %>
