<% if order.pending? || order.failed?%>
    <%= link_to cancel_user_order_url(current_user,order), method: 'delete',class:"btn cancel btn-danger",
                data: {confirm: "Are you sure","loading-text"=>"cancelling..."} do %>
        <i class="fa fa-times"></i> Cancel
    <% end %>
<% end %>
<% if order.pending? || order.failed? %>
    <%= payment_form_for_order order %>
<% end %>

<% if order.payed? %>
    <button class="btn " data-dismiss="modal" type="button" ><i class="fa fa-times"></i> Close</button>
<% end %>
