<div class="alert alert-info">
  <i class="fa fa-info-circle"></i> <%= number_to_currency order.item.amount , unit: "₦" , precision: 0 %>  would be deducted from your wallet, click on pay now to continue
</div>