<div class="span5">
  <%= image_tag "Hardware-White.jpg" %>
  <div class="row-fluid app-buttons">
    <a class="span6">
      <%= image_tag "Buttons-05.png" %>
    </a>
    <a class="span6">
      <%= image_tag "Buttons-09.png" %>
    </a>
  </div>
</div>