<ul class="nav">
  <li class="">
    <a href="">About</a>
  </li>
  <li class="">
    <a href="">FAQ</a>
  </li>
  <li class="">
    <a href="">Help</a>
  </li>
  <li class="">
    <a href="">Contact</a>
  </li>
  <li class="">
    <a href="">Blog</a>
  </li>
</ul>