
<div id="footer" class="container">


  <div class="copyright letterPressed">Copyright © 2013 <a href="http://rzaartz.com">Rzaartz</a> ltd. All Rights Reserved..</div>
  <div class="copyright letterPressed"><strong>Support: </strong><a href="mailto:support@qwiqar.com" target="_top">
    support@qwiqar.com</a> | <strong>Call: </strong>+2348097530228, +2347033550467</div>
</div>