 <% content_for :default_sign_login do %>
    <ul class="nav pull-right">
      <li class="divider-vertical"></li>
      <li class="">
        <%= link_to "Login",new_user_session_path %>
      </li>
    </ul>
<% end %>
<div id="main_navbar" class="navbar navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to root_url,:class => "brand" do%>
         <%= image_tag "app-title.png" %>
      <% end %>
      </div>
  </div>
</div>