<aside id ="sideNav" class="span4">
  <div class="box">
    <div class="user-info">
      <div class="avatar">
        <%= image_tag "avatar.png" %>
      </div>
      <div class="detail">
        <div class="name elp">
          <h4 class="ui-inline-text">Paul Aden Smith alonso</h4>
        </div>
      </div>
    </div>
    <div class="clearfix divider-horizontal"></div>
    <div class="btns">
      <a class="btn">
        <i class="icon-edit"></i>
      </a>
      <span class="account-label label label-success">$60,000</span>
    </div>
  </div>

  <div class="box box-lead">
    <ul class="nav nav-list">
      <li class="active"><a href="#"><i class="icon-mobile"></i> Top Up</a></li>
      <li><a href="#"><i class="icon-vcard"></i> Profile</a></li>
      <li><a href="#"><i class="icon-diary"></i> Wallet</a></li>
      <li><a href="#"><i class="icon-users"></i> People</a></li>
      <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
      <li><a href="#"><i class="icon-history"></i> History</a></li>
    </ul>
  </div>
</aside>