<div class="nav-collapse collapse">
  <% if current_user %>
      <ul class="user_nav nav  pull-right">
        <li class="dropdown">
          <a href="<%= user_root_url %>" class="dropdown-toggle"
             data-toggle="dropdown"
             href="#">
            <i class="icon-user"></i>
            Me
          </a>
          <ul class="dropdown-menu">
            <!-- links -->
          </ul>
        </li>
        <li class="divider-vertical"></li>
        <li class="">
          <%= link_to "logout",user_sign_out_url %>
        </li>
      </ul>
  <% else %>
      <%=  content_for?(:sign_login) ? yield(:sign_login)  : yield(:default_sign_login)%>
  <% end %>
</div>